.bagel-listing {
    padding: 4rem;
    box-shadow: 0 3px 5px hsl(0, 0%, 50%);
    margin-bottom: 1rem;
}

.bagel-listing p {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.bagel-listing .type {
    font-weight: 700;
}

.bagel-listing .actions {
    display: flex;
    align-items: center;
}

.bagel-listing i {
    margin-left: 1rem;
    color: hsl(0, 0%, 50%);
    font-size: 24px;
    cursor: pointer;
}

.bagel-listing i.fa-times:hover {
    color: hsl(0, 40%, 50%);
}

.bagel-listing i.fa-edit:hover,
.bagel-listing i.fa-edit.active {
    color: hsl(220, 40%, 50%);
}
