.bagel-form input {
    display: block;
    margin-bottom: 0.5rem;
    width: 100%;
    padding: 0.5rem;
}

.bagel-form [type=submit] {
    padding: 0.5rem;
    border: none;
    background-color: hsl(220, 50%, 50%);
    color: #fff;
    font-weight: 700;
}
